body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: none;
}

#help {
    font-size: 10px;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: #999999;
}

.tooltip {
  font-family: monospace, monospace;
  font-size: 12px;
  line-height: 1.2;
}

.highcharts-menu-item {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
  line-height: 0.8;
}


#container {
    height: 500px;
    margin: 0 auto
}
